
.heading{
    text-align: left;
    left: 80px;
    margin-top: 50px;
    margin: 30px auto;
    margin-left: 50px;
	color: 	rgb(3, 3, 3);
    border-radius: 100px;
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
    position: top;
    margin-bottom: 65px;
}

.a {
    text-align: left;
    font-family: 'Indie Flower', cursive;
    margin-top: -30px;
    margin-left: 50px;
	color: 	rgb(3, 3, 3);
    font-size: x-large;
    position: top;
}

.tasks2 {
    font-family: 'Indie Flower', cursive;
    font-size: large;
    margin-left:50px;
    margin-top: 20px;
}


body { 
    background: url(To\ do\ scissors\ .jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  caption {
    text-align: left;
    float: left;
    font-weight: bold;
    text-decoration: underline;
  }

.table {
    margin-top: 30px;
    text-align: left;
    border-spacing: 50px;
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
    float: left;
    width:40%;
}

.table2 {
        margin-top: 30px;  
        text-align: left;
        border-spacing: 50px;
        font-family: 'Indie Flower', cursive;
        font-size: x-large;
        width:30%;
        float: left;
}

#list-heading {
    background-color: none ;
    text-align: center;
    border: none;
}

body {
    background-color:rgb(245, 231, 241);
    margin:0;
    height:50vh;
    width: 100vw;
}

span {
display:inline-block;
margin: 10px
}

button {
    width: 85px;
    display: block;
    margin: auto;
    background-color: rgba(165, 42, 42, 0.308);
    border: 1.5px solid black; 
    font-size: medium;
    font-family: 'Indie Flower', cursive;
  }

button:hover {
cursor: pointer;
background-color:rgba(238, 103, 54, 0.568);
}
