body { 
    background: url(To\ do\ scissors\ .jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.heading{
    text-align: left;
    left: 80px;
    margin-top: 50px;
    margin: 30px auto;
    margin-left: 50px;
	color: 	rgb(3, 3, 3);
    border-radius: 100px;
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
    position: top;
    margin-bottom: 65px;
}

.AddSection {
    text-align: left;
    font-family: 'Indie Flower', cursive;
    margin-top: -30px;
    margin-left: 50px;
	color: 	rgb(3, 3, 3);
    font-size: x-large;
    position: top;
}

.taskslefttocomplete {
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
    margin-left:50px;
    margin-top: 20px;
}

span {
    display:inline-block;
    margin: 10px
    }

.container {
    font-family: 'Indie Flower', cursive;
    display: inline-block;
    font-size:large;
    margin-top: 50px;
    margin-left: 20px;
}

button {
    width: 85px;
    display: block;
    margin: auto;
    background-color: rgba(165, 42, 42, 0.308);
    border: 1.5px solid black; 
    font-size: medium;
    font-family: 'Indie Flower', cursive;
  }

button:hover {
    cursor: pointer;
    background-color:rgba(238, 103, 54, 0.568);
}

